<div class="container-fluid" class="header-box bac">
  <div class="row">
    <div class="col-sm">
      <div style="max-width: 50%; float: right;">
        <h1 style="">Lorem ipsum dolor sit amet consectetur</h1>
        <h4 style="">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
          minim veniam, quis nostrud.
        </h4>
        <ul style="">
          <li>Duis aute irure dolor in reprehenderit</li>
          <li>In voluptate velit esse cillum dolore eu fugiat nulla</li>
          <li>Excepteur sint occaecat cupidatat non proident</li>
        </ul>
      </div>
    </div>
    <div class="col-sm" style="display: flex; justify-content: center">
      <div class="card" style="min-width: 45%">
        <h1 class="card-title">Faça seu cadastro!</h1>
        <mat-form-field class="register-card">
          <input matInput placeholder="Nome" />
        </mat-form-field>
        <mat-form-field class="register-card">
          <input matInput placeholder="E-mail" />
        </mat-form-field>
        <mat-form-field class="register-card">
          <input matInput placeholder="Celular" />
        </mat-form-field>

        <button type="button" class="btn btn-danger" style="margin: 5%">
          Cadastrar
        </button>
      </div>
    </div>
  </div>
</div>
